# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 l5y

[Unit]
Description=Bitcoin daemon
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/bitcoind \
    -daemon=0 \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/var/lib/bitcoind \
    -pid=/run/bitcoind/bitcoind.pid
Type=simple
Restart=on-failure
TimeoutStopSec=600
User=bitcoin
Group=bitcoin
RuntimeDirectory=bitcoind
ConfigurationDirectory=bitcoin
StateDirectory=bitcoind
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
